@{
    ViewData["Title"] = "Home";
}
<div class="header-hero">
    <img src="~/images/profile.jpg" alt="Profile" class="profile-photo mb-3" />
    <h1>Kabelo Ennocent Lethata</h1>
    <p class="lead">Software Developer • Web & App Builder • IT Software Development</p>

    <div class="d-flex justify-content-center gap-2 mt-3">
        <a class="btn btn-custom" asp-controller="Home" asp-action="CV">Download CV</a>
        <a class="btn btn-custom" asp-controller="Home" asp-action="Projects">See Projects</a>
        <a class="btn btn-custom" href="https://www.linkedin.com/in/kabelo-lethata" target="_blank">LinkedIn</a>
        <a class="btn btn-custom" href="https://github.com/kabeloinnocent381-afk" target="_blank">GitHub</a>
    </div>
</div>
